.main{
	background-color:white;
	border-radius: 20px;
}
.margin{
	margin: 60px 100px 10px 100px;
}
.space{
	width: 90%;
	margin:auto;
	padding: 4px 0px 0px 0px;
}
.orange{
	border-top-left-radius: 20px;
	border-top-right-radius: 60px;
	border-bottom-right-radius: 40px;
	background-color: orangered;
	text-transform: lowercase;
}
.blue{
	border-top-left-radius: 30px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 100px;
	background-color: blue;
	text-transform: lowercase;
}
.green{
	border-top-right-radius: 30px;
	border-bottom-right-radius: 100px;
	border-bottom-left-radius: 60px;
	background-color: green;
}
.green p{
	text-align: center;
}
div figure{
	margin:auto;
	padding: 5px;
	width: 500px;
	text-align: center;
}
div h1{
	text-transform: uppercase;
}
div h2{
	text-transform: capitalize;
}
div p{
	font-size: 16px;
}


