#contenedor{

}
#cabecera{

}
#logo{

}
#menu{
display: inline;
}
#menu a{

}
#menu li{
 display: inline;
}    

#menu li a:hover{
  color:black
}
#menu li a:visited{
  color:red
}
#contenido{
  background-color: gray;
  border-color: red ;
  border-style: solid;
  border-left-style: none;
  margin-right: 250px;
}
.articulo h2{
   color:red
}